* {
    box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Sorce Sans Pro", sans-serif;
    min-width: 100%;
}

img,
video {
    height: auto;
    max-width: 100%;
}

a {
    color: #288c44;
    text-decoration: none;
}

.topContent {
    margin: 0px auto;
    padding: 240px 0px 0px;
    flex-direction: column;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background-color: #333;
}
.topHeader {
    line-height: 1;
    letter-spacing: -0.01em;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
}
.topText {
    margin: 16px 0 24px 0;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
}
.topButtonContainer {
    display: flex;
}
.topButtonContainer a:first-child {
    display: flex;
}
.topButton {
    height: 48px;
    margin-right: 16px;
    margin-bottom: 32px;
    cursor: pointer;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 24px;
    border-radius: 100px;
    transition: all 0.15s ease 0s;
    user-select: none;
    color: rgb(255, 255, 255);
    background: #288c44;
}
.topButton:hover {
    opacity: 0.8;
}
.topButtonText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.topProgress {
    padding: 88px 0px 80px;
    text-align: center;
}

.topProgressContainer {
    align-items: center;
    display: flex;
    line-height: 1.2;
    margin-top: 16px;
    color: rgb(255, 255, 255);
    font-size: 39px;
    font-weight: 700;
}
.topProgressTextBox {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.editCount {
    margin-right: 5px;
}
.editCount::after {
    content: " ";
    display: block;
    width: 187px;
    height: 18px;
    margin: auto auto -18px;
    background: rgba(0, 0, 0, 0) url("media/underline.png") no-repeat scroll
        center center / 187px 18px;
}

.doodleBorder {
    width: 100%;
    height: 24px;
    background: rgba(0, 0, 0, 0) url("media/doodleborder.svg") repeat-x scroll
        center center;
}

.textLink {
    margin-top: 16px;
    cursor: pointer;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: filter 0.2s ease 0s;
    user-select: none;
}
.textLink:hover {
    filter: opacity(0.8);
}
.textLink img {
    transition: all 0.2s ease 0s;
}
.textLink:hover img {
    transform: translate3d(2px, 0px, 0px);
}
.textLinkText {
    color: #288c44;
    font-size: 20px;
    font-weight: 700;
}

.panImage {
    width: 95%;
    max-height: 75%;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panImageParallax {
    border-radius: 24px;
}

.bottomContent {
    width: 100%;
    height: 560px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-top: 0.5px solid rgb(222, 229, 237);
    border-bottom: 0.5px solid rgb(222, 229, 237);
}
.bottomContainer {
    margin: 0px auto;
    max-width: 1216px;
    padding: 64px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-radius: 40px;
    text-align: center;
}
.bottomContainerParallax {
    border-radius: 40px;
}
.bottomHeader {
    color: rgb(255, 255, 255);
    font-size: 39px;
    font-weight: 700;
}
.bottomButtonContainer {
    margin-top: 24px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.bottomButtonContainer a:not(:last-child) {
    margin-right: 16px;
}
.bottomButtonMap {
    cursor: pointer;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 24px;
    height: 48px;
    border-radius: 100px;
    transition: all 0.15s ease 0s;
    user-select: none;
    color: rgb(255, 255, 255);
    background: #288c44 none repeat scroll 0% 0%;
}
.bottomButtonMap:hover {
    opacity: 0.8;
}
.bottomButtonMapText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.bottomButtonSource {
    height: 48px;
    background: transparent none repeat scroll 0% 0%;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 24px;
    border-radius: 100px;
    transition: all 0.15s ease 0s;
    user-select: none;
    color: rgb(255, 255, 255);
}
.bottomButtonSource:hover {
    opacity: 0.8;
}
.bottomButtonSourceText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.bottomText {
    margin-top: 24px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1440px) {
    .topContent {
        padding: 160px 48px 80px;
    }
    .topProgress {
        padding: 40px 0px 0px;
    }
    .topProgressTextBox {
        padding: 40px 0px 0px;
        flex-direction: column;
    }
    .bottomContent {
        padding: 0px 24px;
    }
}

@media (max-width: 1024px) {
    .topContent {
        padding: 96px 24px 48px;
    }
    .topHeader {
        font-size: 32px;
    }
    .topText {
        font-size: 16px;
    }
    .topButtonContainer {
        max-width: 320px;
        width: 100%;
        flex-direction: column;
    }
    .topButtonContainer a:first-child {
        margin-bottom: 16px;
        width: 100%;
        margin-right: 0px !important;
    }
    .topButtonText {
        font-size: 16px;
    }
    .topProgressContainer {
        font-size: 24px;
    }

    .textLinkText {
        font-size: 16px;
    }
    .bottomContent {
        padding: 64px 24px;
        height: auto;
    }
    .bottomContainer {
        padding: 64px;
        border-radius: 24px;
    }
    .bottomContainerParallax {
        border-radius: 24px;
    }
    .bottomHeader {
        font-size: 24px;
    }
    .bottomText {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .bottomContainer {
        padding: 32px;
    }
    .bottomContainerParallax {
        padding: 32px;
    }
    .bottomButtonContainer {
        width: 100%;
        height: 112px;
        flex-direction: column;
    }
}
