* {
    box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Sorce Sans Pro", sans-serif;
    min-width: 100%;
}

img,
video {
    height: auto;
    max-width: 100%;
}

a {
    color: #288c44;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 16px;
    height: 75px;
    display: flex;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    z-index: 3;
    background: transparent none repeat scroll 0% 0%;
    border-bottom: 0.5px solid transparent;
}

.header.active {
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border-bottom: 0.5px solid rgb(222, 229, 237);
}

.headerContent {
    padding-left: 5%;
    float: left;
    display: block;
    display: flex;
    align-items: center;
}
.headerContent a {
    padding-left: 0.5em;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
}
.header.active .headerContent a {
    color: #000;
}

.topContent {
    margin: 0px auto;
    padding: 240px 0px 0px;
    flex-direction: column;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background-color: #333;
}
.topHeader {
    line-height: 1;
    letter-spacing: -0.01em;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
}
.topText {
    margin: 16px 0 24px 0;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
}
.topButtonContainer {
    display: flex;
}
.topButtonContainer a:first-child {
    display: flex;
}
.topButton {
    height: 48px;
    margin-right: 16px;
    margin-bottom: 32px;
    cursor: pointer;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 24px;
    border-radius: 100px;
    transition: all 0.15s ease 0s;
    user-select: none;
    color: rgb(255, 255, 255);
    background: #288c44;
}
.topButton:hover {
    opacity: 0.8;
}
.topButtonText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}

.topProgress {
    padding: 88px 0px 80px;
    text-align: center;
}

.topProgressContainer {
    align-items: center;
    display: flex;
    line-height: 1.2;
    margin-top: 16px;
    color: rgb(255, 255, 255);
    font-size: 39px;
    font-weight: 700;
}
.topProgressTextBox {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: row;
}
.editCount {
    margin-right: 5px;
}
.editCount::after {
    content: " ";
    display: block;
    width: 187px;
    height: 18px;
    margin: auto auto -18px;
    background: rgba(0, 0, 0, 0) url("/media/underline.png") no-repeat scroll
        center center / 187px 18px;
}

.doodleBorder {
    width: 100%;
    height: 24px;
    background: rgba(0, 0, 0, 0) url("media/doodleborder.svg") repeat-x scroll
        center center;
}

.tableLayout {
    overflow: hidden;
    width: 100%;
    height: 560px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgb(222, 229, 237);
}

.tableContainer {
    max-width: 1216px;
    width: 100%;
    height: 100%;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}

.tableContent {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -moz-box-pack: center;
    justify-content: center;
}
.textHeader {
    color: rgb(33, 43, 54);
    font-size: 39px;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.textSub {
    margin-top: 16px;
    line-height: 1.5;
    color: rgb(99, 115, 129);
    font-size: 20px;
    font-weight: 400;
}
.textLink {
    margin-top: 16px;
    cursor: pointer;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    transition: filter 0.2s ease 0s;
    user-select: none;
}
.textLink:hover {
    filter: opacity(0.8);
}
.textLink img {
    transition: all 0.2s ease 0s;
}
.textLink:hover img {
    transform: translate3d(2px, 0px, 0px);
}
.textLinkText {
    color: #288c44;
    font-size: 20px;
    font-weight: 700;
}
.tableImage {
    align-items: center;
}
.panImage {
    width: 95%;
    max-height: 75%;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panImageParallax {
    border-radius: 24px;
}

.bottomContent {
    width: 100%;
    height: 560px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    border-top: 0.5px solid rgb(222, 229, 237);
    border-bottom: 0.5px solid rgb(222, 229, 237);
}
.bottomContainer {
    margin: 0px auto;
    max-width: 1216px;
    padding: 64px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    /* background-image: url("/media/bottomBG.png");
    background-color: rgb(33, 43, 54);
    background-position: center center;
    background-size: cover; */
    border-radius: 40px;
    text-align: center;
}
.bottomContainerParallax {
    border-radius: 40px;
}
.bottomHeader {
    color: rgb(255, 255, 255);
    font-size: 39px;
    font-weight: 700;
}
.bottomButtonContainer {
    margin-top: 24px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.bottomButtonContainer a:not(:last-child) {
    margin-right: 16px;
}
.bottomButtonMap {
    cursor: pointer;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 24px;
    height: 48px;
    border-radius: 100px;
    transition: all 0.15s ease 0s;
    user-select: none;
    color: rgb(255, 255, 255);
    background: #288c44 none repeat scroll 0% 0%;
}
.bottomButtonMap:hover {
    opacity: 0.8;
}
.bottomButtonMapText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.bottomButtonSource {
    height: 48px;
    background: transparent none repeat scroll 0% 0%;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0px 24px;
    border-radius: 100px;
    transition: all 0.15s ease 0s;
    user-select: none;
    color: rgb(255, 255, 255);
}
.bottomButtonSource:hover {
    opacity: 0.8;
}
.bottomButtonSourceText {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.bottomText {
    margin-top: 24px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}
.footer {
    margin: auto auto 0px;
    padding: 80px 0px;
    max-width: 1216px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.footerColumnHeader {
    margin-bottom: 16px;
    font-size: 20px;
}
.footerColumnHeaderText {
    color: rgb(33, 43, 54);
    font-size: 20px;
    font-weight: 700;
}
.footerColumnText {
    margin-bottom: 8px;
    display: block;
    color: rgb(99, 115, 129);
}
.footerSocialIcon {
    margin-right: 12px;
    display: inline-block;
    width: 28px;
    height: 28px;
}
.footerSocialIcon.iconTg {
    background: url("/media/icons/telegram.svg") no-repeat scroll center center /
        contain;
}
.footerSocialIcon.iconGit {
    background: url("/media/icons/github.svg") no-repeat scroll center center /
        contain;
}

@media (max-width: 1440px) {
    .topContent {
        padding: 160px 48px 80px;
    }
    .topProgress {
        padding: 40px 0px 0px;
    }
    .topProgressTextBox {
        padding: 40px 0px 0px;
        flex-direction: column;
    }
    .tableLayout {
        padding: 0px 24px;
    }
    .bottomContent {
        padding: 0px 24px;
    }
    .footer {
        padding: 80px 24px;
    }
}

@media (max-width: 1024px) {
    .topContent {
        padding: 96px 24px 48px;
    }
    .topHeader {
        font-size: 32px;
    }
    .topText {
        font-size: 16px;
    }
    .topButtonContainer {
        max-width: 320px;
        width: 100%;
        flex-direction: column;
    }
    .topButtonContainer a:first-child {
        margin-bottom: 16px;
        width: 100%;
        margin-right: 0px !important;
    }
    .topButtonText {
        font-size: 16px;
    }
    .topProgressContainer {
        font-size: 24px;
    }
    .tableLayout {
        padding: 56px 0px 24px;
        height: auto;
    }
    .tableLayout.iRight > div {
        flex-direction: column;
    }
    .tableLayout.iLeft > div {
        flex-direction: column-reverse;
    }
    .tableContainer {
        flex-wrap: wrap;
    }
    .tableContent {
        padding: 0px 24px;
        width: 100%;
        -moz-box-align: center;
        align-items: center;
        text-align: center;
    }
    .tableImage {
        margin-top: 32px;
    }
    .textHeader {
        font-size: 24px;
    }
    .textSub {
        font-size: 16px;
    }
    .textLinkText {
        font-size: 16px;
    }
    .bottomContent {
        padding: 64px 24px;
        height: auto;
    }
    .bottomContainer {
        padding: 64px;
        border-radius: 24px;
    }
    .bottomContainerParallax {
        border-radius: 24px;
    }
    .bottomHeader {
        font-size: 24px;
    }
    .bottomText {
        font-size: 16px;
    }
    .footerColumnHeaderText {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .bottomContainer {
        padding: 32px;
    }
    .bottomContainerParallax {
        padding: 32px;
    }
    .bottomButtonContainer {
        width: 100%;
        height: 112px;
        flex-direction: column;
    }
    .footer {
        padding: 64px 24px;
    }
    .footerColumn {
        margin-bottom: 24px;
        width: 50%;
    }
}
